@font-family {
	font-family: 'Lato', sans-serif;
	src: url(".assets/Lato-Thin.ttf");
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 10px;
}

.wrapper {
	width: 100%;
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 40px;
	box-sizing: border-box;
}

.portfolio {
	background-color: #2d303a;;
	border-bottom: 5px solid #323746;
	height: 870px
}

.portfolio__banner {
	font-size: 3em;
	line-height: 18px;
	color: #666d89;
	margin: 0;
	padding-top: 71px;
}

.portfolio__text {
	font-size: 1.8em;
	line-height: 30px;
	color: #767e9e;
	margin: 0px;
    padding-top: 27px;
    padding-bottom: 10px;
    letter-spacing: -.4px;
}

.filter {
	display: flex;
	padding-bottom: 19px;
}

.filter__button {
	border-radius: 5px;
	background: #2d303a;
	border: 1px solid #666d89;
	color: #767e9e;
	line-height: 18px;
	font-size: 12px;
	margin-right: 10px;
	cursor: pointer;
	transition: 0.5s;
}

.filter__button:hover {
	border: 1px solid #c5c5c5;
	color: #c5c5c5;
}

.button_active {
	border: 1px solid #c5c5c5;
	color: #c5c5c5;
}

.portfolio__art{
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 187px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    overflow: hidden;
}

.portfolio__art:nth-child(n+13) {
    display: none;
}

.about-us {
	background-color: #f2f2f2;
	border-bottom: 6px solid #ffffff;
	height: 728px;
}

.about-us__banner {
	font-size: 3em;
	color: #666d89;
	margin: 0;
	padding: 57px 0 18px 0;
	font-weight: bold;
	letter-spacing: -.3px;
}

.about-us__text {
	color: #767e9e;
    font-size: 1.8em;
    line-height: 30px;
  	letter-spacing: -0.49px;
    margin: 0 0 44px;
    text-align: justify;
}

.employee {
	display: flex;
	margin-bottom: 32px;
}

.employee__column {
	display: flex;
	flex-wrap: wrap;
	width: 33%;
	width: 300px;
	margin: 0;
}

.central_column {
	margin: auto;
}

.employee__image {
	width: 300px;
	height: 300px;
	background-color: #464b5e;
	text-align: center;
}

.employee__banner {
	color: #666d89;
	font-size:1.8em;
	letter-spacing: -.9px;
	margin: 0;
	padding-top: 17px;
}

.employee__text {
	font-size: 1.2em;
	line-height: 22px;
	margin: 0;
	text-align: justify;
	padding-top: 7px;
	letter-spacing: -.2px;
}

.social {
	display: flex;
	padding-top: 23px;
}

.facebook {
	display: block;
	width: 14px;
	height: 14px;
	background-size: 14px 14px; 
 	background: url("./assets/img/svg/facebook.svg") no-repeat;
 	background-position: center;
}

.google {
	display: block;
	width: 14px;
	height: 14px;
	background-size: 14px 14px; 
 	background: url("./assets/img/svg/google.svg") no-repeat;
 	background-position: center;
}

.twitter {
	display: block;
	width: 14px;
	height: 14px;
	background-size: 14px 14px; 
 	background: url("./assets/img/svg/twitter.svg") no-repeat;
 	background-position: center;
}

.linkedin {
	display: block;
	width: 14px;
	height: 14px;
	background-size: 14px 14px; 
 	background: url("./assets/img/svg/linkedin.svg") no-repeat;
 	background-position: center;
}
.border {
	border: 1px solid #666d89;
	border-radius: 50%;
	padding: 8px;
	margin-right: 8px;
}

.border:hover {
	border: 1px solid #f2f2f2;
	background-color: #2d303a;
	transition: 0.5s;
	cursor: pointer;
}