@font-family {
	font-family: 'Lato-Thin', sans-serif;
	src: url(".assets/Lato-Thin.ttf");
}

@font-family {
	font-family: 'Lato-Regular', sans-serif;
	src: url(".assets/Lato-Regular.ttf");
}

body {
	margin: 0;
	font-family: 'Lato-Thin', sans-serif;
}

.header {
	padding: 29px 0 30px;
	background-color: #2d303a;
    border-bottom: solid 6px #323746;
    letter-spacing: -.6px;
}

.wrapper {
	width: 100%;
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 40px;
	box-sizing: border-box;
}

.logo {
	font-size: 25px;
	color: #ffffff;
	margin: 0;
	letter-spacing: -1px;
    font-weight: 500;
}

.snowflake {
	color: #f06c64;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.navigation__bar {
	margin: 0;
	display: flex;
	padding-right: 14px;
	list-style-type: none;
}

.header__links {	
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	font-size: 12px;
}

.header__links:after {
 	color: #494e62;
 	content: "·";
 	padding: 0 14px;
 }

 .last_link:after {
	display: none;
}

.header__links:hover {
	color: #f06c64;
}

.phone-field {
	background-color: #f06c64;
	border-bottom: 5px solid #ea676b;
	height: 594px
}

.graphics {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-between;
}

.left__slider {
	width: 16px;
	height: 27px;
	position: relative;
	margin-top: 281px;
    margin-bottom: 286px;
}

.left__slider img {
	position: absolute;
}

.left__slider img.after-hover_slider {
	opacity: 0;
}

.left__slider:hover img.after-hover_slider {
	opacity: 1;
}

.left__slider:hover img.before-hover_slider, 
.left__slider img.before-hover_slider:hover {
	opacity: 0;
}

.right__slider {
	width: 16px;
	height: 27px;
	position: relative;
	margin-top: 281px;
    margin-bottom: 286px;
}

.right__slider img {
	position: absolute;
}

.right__slider img.after-hover_slider {
	opacity: 0;
}

.right__slider:hover img.after-hover_slider {
	opacity: 1;
}
.right__slider:hover img.before-hover_slider, 
.right__slider img.before-hover_slider:hover {
	opacity: 0;
}

.vertical__phone {
	margin-top: 53px;
    margin-left: 72px;
	position: absolute;
}

.vertical {
	position: absolute;
}

.horizontal {
    margin-top: 121px;
    transform: translateX(-84px);
}

.horizontal__phone {
	margin-top: 52px;
   	position: relative;
}

.horizontal__phone img{

	position: absolute;
}

.horizontal_shadow {

}

.our-services {
	background-color: #f2f2f2;
	border-bottom: 5px solid #ffffff;
}

.our-services__banner {
	font-weight: 900;
	font-size: 30px;
	color: #666d89;
	margin: 0;
	padding: 62px 0 19px 0;
	font-weight: bold;
	letter-spacing: -1px;
}

.our-services__text {
	color: #767e9e;
    font-size: 17px;
    line-height: 30px;
    word-spacing: -4px;
    letter-spacing: 0.53px;
    margin: 0 0 46px;
    text-align: justify;
}

.our-services__layout {
	display: flex;
	justify-content: space-between;
	margin-bottom: 32px;
}

.layout__content {
	display: flex;
	flex-wrap: wrap;
	width: 33%;
	margin-left: 20px;
}

.first_column {
	margin: 0;
}

.layout__icon {
	padding-right: 20px;
	position: absolute;
}

.layout__banner {
	color: #666d89;
	font-size: 18px;
	margin: 0 0 5px 81px;
	transform: translateY(-3px);
	letter-spacing: -.9px;
}

.layout_text {
	font-size: 12px;
	line-height: 22px;
	margin: 0 0 0 81px;
	text-align: justify;
}